@model MateTest2.MateT1.TableList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TableList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Listname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Listname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hobby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hobby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.UserLogin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
